<%= link_to_remote("Add Comment",
                   :url => { :controller => 'comment', :action => 'reply',
                             :page => @page.id, :indent => 0 }) -%>

<div id="reply"></div>

<% @comment_indent = 0 %>
<% @page.comments.select { |c| c.parent_id.nil? }.each do |c| -%>
<%= render(:partial => '/comment/comment', :locals => {:c => c}) %>
<% end %>

<div id="replylast"></div>

