<% @title = "DedaWiki search results for: #{params[:q]}" %>

<% if !@results.nil? && @results.length > 0 %>
<ul class="searchresults">
<% @results.each do |r| %>
  <li><%= page_link(r) -%></li>
<% end %>
</ul>
<% else %>
<p style="margin-left: 200px;">
<strong>No results found for "<%= params[:q] -%>"</strong>
</p>
<% end %>
