    <h2>DedaWiki Setup Complete!</h2>

    <p>Your wiki is now ready to go.  The first thing you should do is
      go to the <a href="/">front page</a> and add some content.</p>

    <p>
      A user with administrative priviledges has been created.  Login:
      <strong><%=h @user.login -%></strong> Email: <strong><%=h @user.email -%></strong>.
    </p>
