<% @title = "#{Siteinfo.main.name} Password Reset" %>

  <div>
    <p>
      Lost your password?  Please give us your email address, and
      we'll send you a new one.
    </p>

<%= start_form_tag :action => 'reset_password' %>

<p><label for="user_email">Email:</label><br/>
<%= text_field 'user', 'email'  %></p>

<p><%= submit_tag 'Send Password' %></p>
<%= end_form_tag %>
</div>
