<% @title = "Password Reset" %>

  <p class="main">
    Your new password has been emailed to you.  Please log in and
    change it as soon as you receive it.
  </p>

  <p class="main">
    <%= link_to("Log on", :controller => 'account', :action => 'login') %>
    with your new password.
  </p>

  <p class="main">
    <%= link_to("Sign up", :controller => 'account', :action => 'signup') %>
	 for a new account
  </p>
